Deutsche Digitale Bibliothek REST API: https://labs.deutsche-digitale-bibliothek.de/app/ddbapi/#/search/getSolrSearch

Fragen & Antworten zum Deutschen Zeitungsportal: https://www.deutsche-digitale-bibliothek.de/content/newspaper/fragen-antworten

Wrapper for the DDB API: https://pypi.org/project/ddbapi/

In [1]:
from ddbapi import zp_issues, zp_pages, list_column, filter

In [2]:
#getting all the german-language newspapers between 1955 and 1990:

df_1= zp_issues(language='ger', publication_date='[1955-01-01T12:00:00Z TO 1990-12-31T12:00:00Z]')

https://api.deutsche-digitale-bibliothek.de/search/index/newspaper-issues/select?rows=1000&sort=id+ASC&q=type%3Aissue+AND+language%3A%22ger%22+AND+publication_date%3A%22%5B1955-01-01T12%3A00%3A00Z%5C+TO%5C+1990-12-31T12%3A00%3A00Z%5D%22&cursorMark=%2A
Getting 1000 of 13092
Getting 2000 of 13092
Getting 3000 of 13092
Getting 4000 of 13092
Getting 5000 of 13092
Getting 6000 of 13092
Getting 7000 of 13092
Getting 8000 of 13092
Getting 9000 of 13092
Getting 10000 of 13092
Getting 11000 of 13092
Getting 12000 of 13092
Getting 13000 of 13092
Getting 13092 of 13092
Got 13092 items.

In [3]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13092 entries, 0 to 13091
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ddb_item_id             13092 non-null  object
 1   paper_title             13092 non-null  object
 2   provider_ddb_id         13092 non-null  object
 3   provider                13092 non-null  object
 4   zdb_id                  13092 non-null  object
 5   ns_disclaimer_required  13092 non-null  bool
 6   publication_date        13092 non-null  datetime64[ns]
 7   place_of_distribution   13092 non-null  object
 8   language                13092 non-null  object
 9   thumbnail               13092 non-null  object
dtypes: bool(1), datetime64[ns](1), object(8)
memory usage: 933.4+ KB

In [4]:
df_1.head()

,ddb_item_id,paper_title,provider_ddb_id,provider,zdb_id,ns_disclaimer_required,publication_date,place_of_distribution,language,thumbnail
0,22377K4DHFD4MEK5A2MPRT4KMVJPZBQM,Honnefer Volkszeitung. 1889-1978,VKNQFFAKOR4XZWJJKUX3NGYSZ3QZAXCW,Universitäts- und Landesbibliothek der Rheinis...,2835548-9,False,1977-10-16 12:00:00,[Bad Honnef],[ger],f72d0286-e69f-4a94-b5b3-0aba06d574fd
1,22454JBKTDMJCFGUJYDBUM7DQIAONDPK,Honnefer Volkszeitung. 1889-1978,VKNQFFAKOR4XZWJJKUX3NGYSZ3QZAXCW,Universitäts- und Landesbibliothek der Rheinis...,2835548-9,False,1977-03-23 12:00:00,[Bad Honnef],[ger],b8b68029-628b-49ad-89a4-430233a15d87
2,224JZKQJTZW4IQKML6GHKINAFHQ76OD4,Neckar-Bote : Heimatzeitung für Seckenheim und...,NWNEPSPSGSSYWU3IP75BYGGBRNQORN6A,MARCHIVUM Mannheim,3137970-9,False,1955-11-21 12:00:00,"[Seckenheim, Mannheim, Mannheim-Seckenheim, Il...",[ger],ee024c71-f8a3-4fe4-a4a9-8d8b70a58376
3,22622PL64IYGWWEHQFF6EF5MELTN4AH4,Der Motor : Zeitung der Dieselmotorenwerk Rost...,UPHR66ECKLOQBHTW23IVD2SE4UBEF2XY,Schifffahrtsmuseum Rostock,3139118-7,False,1957-12-20 12:00:00,[Rostock],[ger],f00caeaf-3380-45f4-a03a-d8057a176040
4,22B57JFQMKA27LHYU3JMRJAOYZ3IW3O7,Neckar-Bote : Heimatzeitung für Seckenheim und...,NWNEPSPSGSSYWU3IP75BYGGBRNQORN6A,MARCHIVUM Mannheim,3137970-9,False,1963-07-13 12:00:00,"[Seckenheim, Mannheim, Mannheim-Seckenheim, Il...",[ger],485a6ef7-85b8-4b94-97fe-bc639b69a7bb

In [5]:
#getting the places of distribution of all available newspapers in df:

places_of_distribution_ger=[]

for place in df_1['place_of_distribution']:
    if place[0] not in places_of_distribution_ger:
        places_of_distribution_ger.append(place[0])
        
places_of_distribution_ger

['Bad Honnef',
 'Seckenheim',
 'Rostock',
 'Bonn-Oberkassel',
 'Mannheim',
 'Gummersbach',
 'Wipperfürth']

In [6]:
#getting the titles of all available newspapers in df:

df_1['paper_title'].unique()

array(['Honnefer Volkszeitung. 1889-1978',
       'Neckar-Bote : Heimatzeitung für Seckenheim und Umgebung',
       'Der Motor : Zeitung der Dieselmotorenwerk Rostock GmbH',
       'Neckar-Bote : Heimatzeitung für Seckenheim und Umgebung, Zweites Blatt',
       'Oberkasseler Zeitung : Heimatzeitung für Oberkassel, Ober- und Niederdollendorf und Römlinghoven',
       'Neckar-Bote für Seckenheim und Umgebung : im Verbund Mannheimer Wochenblatt',
       'Neckar-Bote : Heimatzeitung für Seckenheim und Umgebung, Drittes Blatt',
       'Gummersbacher Kreisblatt. 1851-1869',
       'Wipperfürther Kreis-Intelligenzblatt : amtliches Organ des Kreises Wipperfürth',
       'Honnefer Volkszeitung. 1889-1978, ()  (No. 265)',
       'Honnefer Volkszeitung. 1889-1978, (Festausgabe zur 100-Jahr-Feier)'],
      dtype=object)

In [7]:
#question: does each zdb_id refer to a certain newspaper?!

df_1['zdb_id'].unique()

array(['2835548-9', '3137970-9', '3139118-7', '2830103-1', '3144124-5',
       '3063605-X', '2581492-8'], dtype=object)

In [8]:
"""
this shows that the zdb_id '2835548-9' does not alwas correspond to 
the paper_title 'Honnefer Volkszeitung. 1889-1978'.

Apparently, the zdb_ids correspond to the places of distribution, not to the newspaper titles. 
"""

df_honnefer= df_1[df_1['paper_title']== 'Honnefer Volkszeitung. 1889-1978']
df_honnefer_2= df_1[df_1['zdb_id']== '2835548-9']

print (len(df_honnefer))
print (len(df_honnefer_2))

6908
6910

In [9]:
"""
getting the list of all articles in Honnefer Volkszeitung. 1889-1978 (zdb_id='2835548-9') between 1955 and 1990, 
that contain the words 'ausländer' and 'politik' in their full-text. 
"""

word_list= ['ausländer', 'politik']

df_2= zp_pages(plainpagefulltext=word_list, publication_date='[1955-01-01T12:00:00Z TO 1990-12-31T12:00:00Z]', 
               zdb_id='2835548-9', language='ger')

https://api.deutsche-digitale-bibliothek.de/search/index/newspaper-issues/select?rows=1000&sort=id+ASC&q=type%3Apage+AND+%28plainpagefulltext%3Aausl%C3%A4nder+AND+plainpagefulltext%3Apolitik%29+AND+publication_date%3A%22%5B1955-01-01T12%3A00%3A00Z%5C+TO%5C+1990-12-31T12%3A00%3A00Z%5D%22+AND+zdb_id%3A%222835548-9%22+AND+language%3A%22ger%22&cursorMark=%2A
Got 278 items.

In [10]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278 entries, 0 to 277
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   page_id                278 non-null    object
 1   pagenumber             278 non-null    int64
 2   paper_title            278 non-null    object
 3   provider_ddb_id        278 non-null    object
 4   provider               278 non-null    object
 5   zdb_id                 278 non-null    object
 6   publication_date       278 non-null    datetime64[ns]
 7   place_of_distribution  278 non-null    object
 8   language               278 non-null    object
 9   thumbnail              278 non-null    object
 10  pagefulltext           278 non-null    object
 11  pagename               278 non-null    object
 12  preview_reference      278 non-null    object
 13  plainpagefulltext      278 non-null    object
dtypes: datetime64[ns](1), int64(1), object(12)
memory usage: 30.5+ KB

In [11]:
df_2.head()

,page_id,pagenumber,paper_title,provider_ddb_id,provider,zdb_id,publication_date,place_of_distribution,language,thumbnail,pagefulltext,pagename,preview_reference,plainpagefulltext
0,2GYQSLC56NJ6NWMH5KQNLABXTSFLM5L5-ALTO4362096_D...,4,Honnefer Volkszeitung. 1889-1978,VKNQFFAKOR4XZWJJKUX3NGYSZ3QZAXCW,Universitäts- und Landesbibliothek der Rheinis...,2835548-9,1976-09-30 12:00:00,[Bad Honnef],[ger],59190374-591d-4132-b8bc-f0488d6c7c46,[/data/altos/2G/YQ/2GYQSLC56NJ6NWMH5KQNLABXTSF...,ALTO4362096_DDB_FULLTEXT,https://api.deutsche-digitale-bibliothek.de/bi...,Oberkreisdirektor Kieras legte neue Pläne vor ...
1,2NMMSUECS7KDOLVYU2IZXJJ44HHJQ5EG-ALTO4337345_D...,4,Honnefer Volkszeitung. 1889-1978,VKNQFFAKOR4XZWJJKUX3NGYSZ3QZAXCW,Universitäts- und Landesbibliothek der Rheinis...,2835548-9,1964-08-18 12:00:00,[Bad Honnef],[ger],2e3cb021-c5d8-4777-a8af-19fb04255cbc,[/data/altos/2N/MM/2NMMSUECS7KDOLVYU2IZXJJ44HH...,ALTO4337345_DDB_FULLTEXT,https://api.deutsche-digitale-bibliothek.de/bi...,9 8 — K Schäheh OberVohlezscha Ven Kubn droht ...
2,2PQSMQI3P47SB7AMGITAQI76ZIA2UBJW-ALTO4331344_D...,1,Honnefer Volkszeitung. 1889-1978,VKNQFFAKOR4XZWJJKUX3NGYSZ3QZAXCW,Universitäts- und Landesbibliothek der Rheinis...,2835548-9,1961-07-06 12:00:00,[Bad Honnef],[ger],9d0b3dd3-b673-40fe-8eee-365da5637f6b,[/data/altos/2P/QS/2PQSMQI3P47SB7AMGITAQI76ZIA...,ALTO4331344_DDB_FULLTEXT,https://api.deutsche-digitale-bibliothek.de/bi...,„ Gng * verbunden mit der urktäglich . Bezugsp...
3,2PQSMQI3P47SB7AMGITAQI76ZIA2UBJW-ALTO4331347_D...,4,Honnefer Volkszeitung. 1889-1978,VKNQFFAKOR4XZWJJKUX3NGYSZ3QZAXCW,Universitäts- und Landesbibliothek der Rheinis...,2835548-9,1961-07-06 12:00:00,[Bad Honnef],[ger],9d0b3dd3-b673-40fe-8eee-365da5637f6b,[/data/altos/2P/QS/2PQSMQI3P47SB7AMGITAQI76ZIA...,ALTO4331347_DDB_FULLTEXT,https://api.deutsche-digitale-bibliothek.de/bi...,Menschen leben . Interessant und bei uns viel ...
4,2TC47IIAY2NNDE22VEMW6TUEG5RDCOR6-ALTO4346464_D...,3,Honnefer Volkszeitung. 1889-1978,VKNQFFAKOR4XZWJJKUX3NGYSZ3QZAXCW,Universitäts- und Landesbibliothek der Rheinis...,2835548-9,1969-03-26 12:00:00,[Bad Honnef],[ger],eade915c-2b1b-433f-b852-02dfa0e7d630,[/data/altos/2T/C4/2TC47IIAY2NNDE22VEMW6TUEG5R...,ALTO4346464_DDB_FULLTEXT,https://api.deutsche-digitale-bibliothek.de/bi...,HIONNEFER VOLKSZEITUNG 26 . März 1969 S Ein Be...

In [12]:
"""
getting the full text of the first article in the first newspaper in df_2. The text 
should contain the words 'ausländer' and 'politik'.
"""

df_2.iloc[0,13]

'Oberkreisdirektor Kieras legte neue Pläne vor David gegen Goliath : Mit ihrem Schul - Computer werden Schüler des Bonner Helmholtz - Gymnasiums unter Leitung ihres Lehrers , Ulrich Jansen ( links ) , bei der Bundestagswahl am Sonntag in Wettstreit mit den großen Rechenzentren der Fernsehanstalten treten . Sie hoffen , die Wahlergebnisse des Bonner Wahlkreises schneller als die „ Konkurrenz “ bestimmen zu können — wie es ihnen bereits bei der Landtags - und Kommunalwahl 1975 gelungen war . Schuldenzucker ( CDU ) ist zuversichtlich : in diesen Tagen wurde ihm von den Klägern auf Anfrage schriftlich mitgeteilt , unter welchen Voraussetzungen die EB 42 zwischen Oberkas sel und Königswinter gebaut werden könne . Nach einer Abstimmung mit ihrem Rechtsan walt Dr . Redeker gab Paul Wende dem Stadtver ordneten Bruno Schuldenzucker folgende schriftliche Zusage : Wenn die Verantwortlichen wie Straßenbauverwaltung , Verkehrsminister u . a . bereit würen , die EB 42 zwischen Ober kassel und Königswinter statt im Trog durch einen Tunnel zu führen und zu diesem Vor schlag eine „ restlos abgesicherte , rechtsverbind liche Zusage “ erfolge , stehe dem Bau der Eb 42 von seiten der Kläger nichts mehr im Wege . Wenn der Tunnel , also die Abdeckung der ge planten Wanne , gebaut werde und dic Beseiti gung der Abgase nicht zu Lasten der Anlieger gehe , sollten auch keine Einwände gegen die jetzige Linienführung mehr erhoben werden . Paul Wende wies darauf hin , bei der Klage gehe es immer wieder um den gesundheitlichen Schutz der Bevölkerung und nicht um Grund stücksfragen , wie von Gegnern immer wieder behauptet werde . Bei einer solchen Tunnellö sung könne die Straßenbauverwaltung zahlrei che Grundstücke in der Straßentrasse wieder verkaufen und so die Baukosten erheblich ver mindern . Paul Wende teilte Bruno Schulden zucker weiter mit , daß Dr . Redeker das Ober verwaltungsgericht über diesen Lösungsvor schlag informiert habe . Wenn die vorgeschlage ne Tunnellösung jetzt auf verschiedenen Ebenen mit Nachdruck verfolgt werde , könne bei gutem Willen der Straßenbauverwaltung beziehungsweise des Verkehrsministers schon bald mit dem Weiterbau der EB 42 begonnen werden Junges Einbrecher - Quartett von Kripo ausgehoben DUISDOR F . Eine Serie von 14 Einbrüchen , die in den letzten fünf Mionaten vorwiegend im Bereich Duisdorf verübt worden waren , wurde nach Angaben der Kriminalpolizei Bonn dieser Tage aufgeklärt . Als Tatverdächtige nahmen die Polizeibeamten ein Quartett von Jugendlichen fest , drei Arbeitslose zwischen 18 und 20 Jah ren aus Duisdorf und einen 19jährigen Fliesen leger aus Röttgen . Die jungen Nlänner waren in Schulen , Verwaltungsgebäude , in den Bahnhof Duisdorf und in sechs Gaststätten eingestiegen und hatten Bargeld , Plattenspieler , Tonband geräte und Kassettenrekorder erbeutet . Algerier aus dem Auto geworfen BORNHEIM . Raubüberfall oder Streit aus Eifersucht ? Diese Frage klärt zur Zeit die Bonner Kripo , nachdem ein 43jähriger Auslän der bei der Polizei Anzeige erstattet hatte . Der Mann erschien nachts auf der Wache : „ Drei Männer haben mich im Auto erst zusammen geschlagen , dann ausgeraubt und schließlich aus dem Auto geworfen . “ Während der Algerier behauptet , einem Raubüberfall zum Opfer ge fallen zu sein , behaupten seine Zechkumpane , ihn nach einem Streit lediglich vor seiner Haus tür aus dem Wagen geworfen zu haben . Grund ihres barschen Verhaltens : Auf der Hleimfahrt soll der Ausländer die 15jährige Verlobte eines Beifahrers belästigt haben . Freizeit im Garten HAMBURG , 30 . Sept . Rund zwei Millionen Bundesbürger verbringen ihre Freizeit in den Kleingärten der Städte und Gemeinden . Von Anatol Johansen Chanes farnarspas Laltlumrt - Ihaustrie Lufthansa will für vier Milliarden DM neue Flugzeuge kaufen Bereits Anfang der 80er Jahre muß die Deutsche Luft hansa damit beginnen , neue Flugzeuge in Dienst zu stel len . Wie kürzlich auf der Hauptversammlung der Luft verkehrsgesellschaft der Bun desrepublik mitgeteilt wurde , müssen im Verlauf von etwa zehn Jahren Flugzeuge im Werte von nicht weniger als vier Milliarden OM neu ange schafft werden . Abgesehen von einigen weiteren Käufen der Lang strecken - Flugzeuge 0C - 10 und Boeing - 747 ist in erster Linie die gesamte Kurz - und Mittelstrecken - Flotte allmäh lich auszumustern . Betroffen sind in erster Linie die etwa je 30 Maschinen der Typen Boeing - 727 und Boeing - 737 , die mit Reichweiten bis zu et wa 3 000 Kilometern vor al lem im europäischen Bereich eingesetzt sind . Hier soll be reits ab 1982/83 mit dem Ausmustern begonnen wer den . Für die kleinere , zweimo torige , etwa 1OOsitzige Boeing - 737 mit einer Reichweite von ca . 1 000 Ki lometern sollen , wie der Technische Direktor der Luft hansa , Dr . Rolf Stüssel , jetzt mitteilte , 20 bis 25 Maschi nen mit je etwa 120 Sitzen gekauft werden . Hier wird ein Flugzeug mit zwei Triebwer ken von je zehn Tonnen Schub erwartet und sechs Sitzen pro Reihe , getrennt durch einen Mittelgang . Für die nächstgrößere Maschine der Lufthansa , die dreimotorige Boeing - 727 die — je nach Version — 110 bis 160 Passagieren Platz bietet und eine Reichweite von mehr als 2 000 Kilometern er reicht , soll ein neues 16Ositziges Flugzeug ange schafft werden . Dabei wäre , so Stüssel , davon auszugehen , daß diese Maschine von dem gleichen Hersteller kommt wie das gewünschte kleinere neue Flugzeug , das die Boeing - 737 ablösen soll . Die dritte Neuanschaffung der Lufthansa soll eine Ma schine mit etwa 210 Sitz plätzen sein ebenfalls für den Kurz - und Mittelstrecken - Ver kehr . Man braucht sie dort , wo der jetzt von der Luft hansa angeschaffte Europä ische Airbus - 300 mit seinen 270 Sitzen noch zu groß ist . Wer wird nun die Milliar den - Aufträge der Lufthansa einstreichen können ? Hat die europäische Luftfahrt - Indu strie hier eine Chance , seit Jahrzehnten an die Amerika ner verlorenes Terrain zurück zugewinnen ? Bei der Luft hansa , die in ihrer Plot ten - Politik noch nie auf die Nationalität der Hersteller , umsomehr aber auf die Qualität des angebotenen Produktes geschaut hat , sagt man ja . Natürlich werden die amerikanischen Boeing - Werke mit harten Bandagen darum kämpfen , daß sie selbst die Nachfolgemodelle ihrer eigenen Maschinen vom Typ 727 und 737 liefern können . So wollen sie aus der Boeing - 737 die sogenannten 7 N 7 mit 120 bis 170 Sitzen weiterentwickeln . Doch bei der Lufthansa hält man auch eine europäisch amerikanische Koproduktion etwa von den französischen Werken Dassault oder Aeros patiale mit der amerikani schen MicDonnald - Douglas Corporation für möglich . Un ter aanderem käme eine Wei terentwicklung der französi schen „ Mercure, , in Frage . Auch bei der von der Luft hansa geforderten 21Ositzigen Kurz - und Mittelstrecken maschine hat Europa eine Chance . Hier könnte zum Bei spiel eine kleinere Version des Europäischen Airbus die Lücke füllen . Dabei kommt allerdings keineswegs lediglich eine Verkleinerung des euro päischen Großraumflugzeu ges , etwa durch Verkürzen des Rumpfes , in Betracht . Konstrukturelle Anderungen , wie etwa neue Flügel müssen dafür sorgen , daß diese 21Ositzige Maschine etwa 15 bis 20 Prozent weniger Be triebskosten verursachen wird als der heute fliegende Air bus . Allerdings ist auch in die ser Klasse die amerikanische Konkurrenz stark . Boeing ar beitet an einem Flugzeug die ser Größenordnung unter der Bezeichnung Boeing 7 x 7 . Bei NicDonnald - Douglas läuft das Konkurrenz - Projekt DC - X 200 . Will die europäische In dustrie also ihre Chance wirk sam wahrnehmen , so muß sie sich beeilen . Gerade in diesen Tagen erst hat die Lufthansa die Spezifikationen für die von ihr gewünschten neuen Maschinen bekannt gegeben . Auf der anderen Seite zeigt die Vergangenheit , wie schnell und wirksam die Ame rikaner ein Flugzeugprojekt durchzuziehen im Stande sind , wenn sie dem Programm einmal Grünes Licht gegeben haben . Sollte sich die Lufthansa in den 80er Jahren nach sach lichen und wirtschaftlichen Gesichtspunkten wieder für amerikanische Flugzeuge ent scheiden , so hätte die euro päische Luftfahrt - Industrie kaum Grund zu klagen . Sie hat ihre Chance , hier und jetzt . Bleibt abzuwarten , ob sie in der Lage ist , sie wirk sam wahrzunehmen . Bas Helungssgstem Iin Kreis Ist Bald pericnt . Aus der jüngsten Sitzung des Kreisausschusses - Neue Rettungswuchen Der Rettungsdienst im Rhein - Sieg - Kreis soll allen Anforderungen ent sprechen . Dies versicherte Oberkreisdirektor Paul Kieras in der jüngsten Sitzung des Kreisausschusses . Die CDU - Kreistagsfraktion hatte in einer Anfrage darum gebeten , die Vorstellungen des Kreises darzulegen und dabei insbesondere auf die Beantwortung der Fragen gedrängt , ob der Rettungsbedarfsplan für den Kreis zwischenzeitlich erstellt wurde , welche Sofortlösungen er enthält und in wieweit eine Kooperation der Gemeinden mit dem Rhein - Sieg - Kreis vorgesehen - sei . Kieras verwies auf die Verpflichtung , im Kreisgebiet ein flächenbedeckendes Rettungssyst em einzurichten . Diese Forderung soll erreicht werden durch die Einrichtung von Rettungswachen an verschiedenen Stellen des Kreisgebietes , wobei als Maßeinheit für die Er reichbarkeit einer möglichen Unfallstelle acht Minuten als flexibler Mittelwert gelten wird . Für je 15 000 Einwohner Für die Ausstattung der Rettungswachen gilt als Richtwert , daß für je rund 15 000 Einwoh ner ein Krankenkraftwagen zur Verfügung ste hen soll . Jeder Krankenwagen ist mit zwei hauptamtlich tätigen Personen zu besetzen . Das Verhältnis von Rettungstransportwagen ( RTU ) zu Krankentransportwagen ( KTI ) ist mit 60 : 40 anzusetzen , da es sich mit der Praxis deckt . Der RTW ist folglich 24 Stunden rund um die Uhr zu besetzen , während der KTU nur an fünf Tagen in der Woche , von Montag bis Freitag , 12 Stunden besetzt sein muß . Für ein flächenbedeckendes Rettungssystem im Kreisgebiet sind demnach 12 Rettungswagen einzurichten , mit den Standorten Bornheim , Rheinbach , Swisttal - Heimerzheim , Königswin ter , Königswinter - Ittenbach , Hennef , Troisdorf , Eitorf , Windeck - Dattenfeld , Siegburg , Neun kirchen - Seeischeid und Niederkassel Voll - Rettungswachen Da die Einrichtung von 12 Voll - Rettungs wachen einen sehr hohen Kostenautwand erfor dern würde , ist vorgesehen , die Standorte Königswinter - Ittenbach , Swisttal , Dattenfeld und Neunkirchen als für 12 Stunden besetzte Außenstellen auszuweisen , deren Einsatzbereich nachts von den Hauptwachen versorgt wird . Zur Personaldeckung für die genannten acht Wochen und vier Außenstellen sind rund 110 hauptamtliche Kräfte erforderlich , Gespräche mit dem DRK , dem MHO und der Freiwilligen Feuerwehr haben ergeben , daß etwa 20 Prozent Ausfälle durch Freiwillige abgedeckt werden können . Hier ist insbesondere an den Einsatz der vom Wehrdienst freigestellten Kräfte ge dacht , von denen allein die Feuerwehr schon über 300 Männer verfügt . Im übrigen wird daven ausgegangen , daß der benötigte Personalbedarf zu 50 Prozent von Rettungssanitätern und zu 50 Prozent von Zivil dienstleistenden gestellt wird . Dies wird den Forderungen des Ministers gerecht , wonach je der Kankenkraftwagen mit einem Rettungs sanitäter und einem Fahrer zu besetzen ist . Diese Aufteilung führt zudem zu einer we sentlichen Personalkostensenkung der haupt amtlichen Kräfte , da für einen Rettungssani täter 30 000 und für einen Zivildienstleistenden nur 6 000 Mark pro Jahr anzusetzen sind . Bei einem erforderlichen Personalbedarf von rund 110 hauptamtlichen Kräften ergibt dies für den Rettungsdienst im Rhein - Sieg - Kreis rund drei Millionen Investitionskosten , die vom Land ge tragen werden . Auch Bad Honnef vorgesehen Auf Gemeinden mit über 50000 Einwoh nern kann die Trägerschaft schon vorab übertra gen werden . Dafür kommen nach überein stimmender Ansicht des Regierungspräsidenten und des Kreises in Frage die Gemeinden Born heim , Troisdorf , Siegburg , St . Augustin und Königswinter . Darüber hinaus ist seitens des Kreises beabsichtigt , eine Obertragung auch auf die Gemeinden Niederkassel , Hennef und Bad Honnef vorzusehen . Wird Streit um EB - 42 - Ausbau beigelegt ? KöNIGSWINTER . Kommt es im Prozeß EB 42/Dr . Reifferscheidt zu einer baldigen Wende ? Der Beueler Stadtverordnete Bruno Sehhien und Sehau sen ! * " 8 . — 9 Zweinal 1000 „ Goldhlicnzerry e es 95 : 95 1 AS Ab l . Oktober gibt \' s bei Schwäblsch Hall für 1000 schnelle2 Vermittler neuer Bausparer je eine Goldmünze Im Wert von S2 8otatt . Und zusätzlich die Chance , bis Jahresschluß 1000 weitere = Goldmünzen zu gewinnen . 8 Außerdem bares Geld für die Vermittlung jedes Bausparers . Und selbstverständlich Bausparprämie oder Steuervergünstigung zuz für 76 , wenn Sie jetzt selbst mit Bausparen beginnen . = Die näheren Einzelheiten erfahren Sie bei allen Volksbanken , Raiffeisen banken , Spar - und Dariehnskassen und unseren Bezirksleitern . Kommen Sie Denn jetzt zuschnappen heißt Geld und Gold verdienen . Beratung durch alle Volksbanken , Raiffeisenbanken und Spar - und Kreditbanken sowie Bezirksleiter Hans Pütz , 5330 Königswinter 41  Ittenbach , in der Mark , Tel . 02223/24470 Beratungsstelle 534 Bad Honnef , Hauptstr . 31 ( im Hause der Volksbank ) , Tel . O2224/6116 Offnungszeiten : Mo . bis Fr . von 10 bis 12 . 30 Uhr und von 14 bis 17 . 30 Uhr sowie nach Vereinbarung Auf diese Steine können Sie bauen s Veirivabisch Hir Die Bausparkasse der Volksbanken und Raitteisenbanken = Landesstelle für Nordrhein 5000 Köm 1 , Breslauer Platz 28 , Tel . O2 21 121074 - 78 '

In [13]:
'politik' in df_2.iloc[0,13].lower()

True

In [14]:
'ausländer' in df_2.iloc[0,13].lower()

True

Now let's see what newspapers in English are available between the years 1900 and 1990:

In [15]:
df_eng_1= zp_issues(language='eng', publication_date='[1900-01-01T12:00:00Z TO 1990-12-31T12:00:00Z]')

https://api.deutsche-digitale-bibliothek.de/search/index/newspaper-issues/select?rows=1000&sort=id+ASC&q=type%3Aissue+AND+language%3A%22eng%22+AND+publication_date%3A%22%5B1900-01-01T12%3A00%3A00Z%5C+TO%5C+1990-12-31T12%3A00%3A00Z%5D%22&cursorMark=%2A
Getting 1000 of 3756
Getting 2000 of 3756
Getting 3000 of 3756
Getting 3756 of 3756
Got 3756 items.

In [16]:
df_eng_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3756 entries, 0 to 3755
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ddb_item_id             3756 non-null   object
 1   paper_title             3756 non-null   object
 2   provider_ddb_id         3756 non-null   object
 3   provider                3756 non-null   object
 4   zdb_id                  3756 non-null   object
 5   ns_disclaimer_required  3756 non-null   bool
 6   publication_date        3756 non-null   datetime64[ns]
 7   place_of_distribution   3722 non-null   object
 8   language                3756 non-null   object
 9   thumbnail               3756 non-null   object
dtypes: bool(1), datetime64[ns](1), object(8)
memory usage: 267.9+ KB

In [17]:
df_eng_1.head()

,ddb_item_id,paper_title,provider_ddb_id,provider,zdb_id,ns_disclaimer_required,publication_date,place_of_distribution,language,thumbnail
0,22BG2XGMUF2XOQBIM7M3VROHVPFR76O3,The Cologne Post : the oldest established brit...,VKNQFFAKOR4XZWJJKUX3NGYSZ3QZAXCW,Universitäts- und Landesbibliothek der Rheinis...,2801820-5,False,1925-03-14 12:00:00,[Köln],[eng],339fea11-8480-456f-84e9-886f3c1255f3
1,22CSFFW44OP6EMMLFC4CPB4Q3IZETFUY,The Daily record and the Dresden daily : the f...,265BI7NE7QBS4NQMZCCGIVLFR73OCOSL,Sächsische Landesbibliothek - Staats- und Univ...,2803990-7,False,1909-03-03 12:00:00,[Dresden],[eng],e1c837a8-7ce2-4c78-8cef-e76f6f63f4cb
2,22CT2XR7TNKZLPJYEASM4VXPDTKAKJ3M,The Cologne Post : the oldest established brit...,VKNQFFAKOR4XZWJJKUX3NGYSZ3QZAXCW,Universitäts- und Landesbibliothek der Rheinis...,2801820-5,False,1920-01-09 12:00:00,[Köln],[eng],0a2d3f23-52a4-4b00-949a-0e33399934aa
3,22G2HIXJZ3S237AZTXJ6ZDQ2OKNPY3TC,The Cologne Post : the oldest established brit...,VKNQFFAKOR4XZWJJKUX3NGYSZ3QZAXCW,Universitäts- und Landesbibliothek der Rheinis...,2801820-5,False,1921-10-14 12:00:00,[Köln],[eng],c3382f73-0323-473e-a46d-c6c85209d8e7
4,22GZ7E3LAV6FZFGYRHDAWS2CEOE7SKUZ,The Cologne Post and Wiesbaden Times : the old...,VKNQFFAKOR4XZWJJKUX3NGYSZ3QZAXCW,Universitäts- und Landesbibliothek der Rheinis...,2835915-X,False,1929-10-03 12:00:00,"[Köln, Wiesbaden]",[eng],29f60eb1-343d-48a9-b965-6cf9f307fc81

In [18]:
"""
Getting the names of the places where English-language newspapers were publiched. 
There are nan values in the places as well, which is why I had to check the type of each entry before
appending it to the list. 
"""


places_of_distribution_eng=[]

for place in df_eng_1['place_of_distribution']:
    if isinstance (place, list):
        if place[0] not in places_of_distribution_eng:
            places_of_distribution_eng.append(place[0])
    else: 
        if place not in places_of_distribution_eng:
            places_of_distribution_eng.append(place)
        
places_of_distribution_eng

['Köln', 'Dresden', 'New York, NY', nan]

In [19]:
#let's filter out all the newspapers that were published in New York:

ny_papers_df = df_eng_1[df_eng_1['place_of_distribution'].apply(lambda x: x == ['New York, NY'])]

In [20]:
ny_papers_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 645 entries, 6 to 3750
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ddb_item_id             645 non-null    object
 1   paper_title             645 non-null    object
 2   provider_ddb_id         645 non-null    object
 3   provider                645 non-null    object
 4   zdb_id                  645 non-null    object
 5   ns_disclaimer_required  645 non-null    bool
 6   publication_date        645 non-null    datetime64[ns]
 7   place_of_distribution   645 non-null    object
 8   language                645 non-null    object
 9   thumbnail               645 non-null    object
dtypes: bool(1), datetime64[ns](1), object(8)
memory usage: 51.0+ KB

In [21]:
ny_papers_df.head()

,ddb_item_id,paper_title,provider_ddb_id,provider,zdb_id,ns_disclaimer_required,publication_date,place_of_distribution,language,thumbnail
6,22JUOI7D6VX3U4AEKS6OZJCSYWROG47O,Aufbau : an American weekly published in New Y...,UJVQP2TIF4YVCCJQXWZ2BNEECO7ZHYTW,Deutsches Exilarchiv,2188065-7,False,1941-11-14 12:00:00,"[New York, NY]","[ger, eng]",f7b9f686-939d-4426-bf5d-2d7473420f70
7,23DGV3X4EJUL6WYVYIMRT55WXVLGPJUS,Aufbau : an American weekly published in New Y...,UJVQP2TIF4YVCCJQXWZ2BNEECO7ZHYTW,Deutsches Exilarchiv,2188065-7,False,1935-02-01 12:00:00,"[New York, NY]","[ger, eng]",fb4f2c57-6b6f-409a-bfa1-121f7dd63ea8
14,25O7WAVDI3HWGBE6H6RMAPJT74GYXAEA,Aufbau : an American weekly published in New Y...,UJVQP2TIF4YVCCJQXWZ2BNEECO7ZHYTW,Deutsches Exilarchiv,2188065-7,False,1944-08-04 12:00:00,"[New York, NY]","[ger, eng]",2b6ee6ae-83e8-44fd-95f8-a29442815a25
29,2BCAQDIV5D5TJTS44QBFH6TXUGAVHPWC,Aufbau : an American weekly published in New Y...,UJVQP2TIF4YVCCJQXWZ2BNEECO7ZHYTW,Deutsches Exilarchiv,2188065-7,False,1944-03-24 12:00:00,"[New York, NY]","[ger, eng]",79e66975-4dbb-45fb-98cb-1964780b5f68
33,2CJAYT6UOGJ6UO6UZ3AG5MZ4EZD4APGL,Aufbau : an American weekly published in New Y...,UJVQP2TIF4YVCCJQXWZ2BNEECO7ZHYTW,Deutsches Exilarchiv,2188065-7,False,1941-08-01 12:00:00,"[New York, NY]","[ger, eng]",8b2f79e7-a5ba-4b3c-a46c-09884621060f

In [22]:
"""
Interesting! The place of distribution of the newspaper The Jewish Voice of the Far East is not given. 
"""

import pandas as pd

nan_df = df_eng_1[df_eng_1['place_of_distribution'].apply(lambda x: isinstance(x, float) and pd.isna(x))]
nan_df.head()

,ddb_item_id,paper_title,provider_ddb_id,provider,zdb_id,ns_disclaimer_required,publication_date,place_of_distribution,language,thumbnail
164,3F6YJNXT6X6AVPD5IRZDAPQL5OO3MQMI,The Jewish voice of the Far East : jüdisches N...,UJVQP2TIF4YVCCJQXWZ2BNEECO7ZHYTW,Deutsches Exilarchiv,2159575-6,False,1946-05-03 12:00:00,NaN,"[ger, eng]",e968969d-626f-42ce-8992-89937b8e7e3b
233,3XRWXAMSN3VCZHSZ42IX4RV7OVMEGBDR,The Jewish voice of the Far East : jüdisches N...,UJVQP2TIF4YVCCJQXWZ2BNEECO7ZHYTW,Deutsches Exilarchiv,2159575-6,False,1946-05-10 12:00:00,NaN,"[ger, eng]",cc006193-c344-4119-9fe4-003dd884ac41
318,4RS4OOY4OZA7RIZDNII7PZK6EJH4JVZG,The Jewish voice of the Far East : jüdisches N...,UJVQP2TIF4YVCCJQXWZ2BNEECO7ZHYTW,Deutsches Exilarchiv,2159575-6,False,1946-05-17 12:00:00,NaN,"[ger, eng]",07bc4e10-c2c1-4004-9911-1da5f57b042a
438,5URAZCOV7WYU756BVS73BESMSQWU6TKS,The Jewish voice of the Far East : jüdisches N...,UJVQP2TIF4YVCCJQXWZ2BNEECO7ZHYTW,Deutsches Exilarchiv,2159575-6,False,1945-12-07 12:00:00,NaN,"[ger, eng]",309b7862-f84a-4390-8f4a-1b1ed32b5699
523,6L7OMB7KDK5NKVOOUEW76DMFHQPXZ66P,The Jewish voice of the Far East : jüdisches N...,UJVQP2TIF4YVCCJQXWZ2BNEECO7ZHYTW,Deutsches Exilarchiv,2159575-6,False,1946-01-14 12:00:00,NaN,"[ger, eng]",5e6302cb-6fcd-41ed-86e7-09a88b26a8cf